<h1><%= @client.name %></h1>
<ul>
  <li>Address: <%= @client.address %></li>
  <li>Number: <%= @client.number %></li>
  <li>Email: <%= @client.email %></li>
</ul>

<!-- prevent pinging API -->
<%# "Emailed #{@client.send_email}" %>
<%# "Called #{@client.send_call}" %>
<%# "Texted #{@client.send_text}" %>
<%= "Letter cost?: #{@client.letter_cost('public/letter.pdf')}" %>
