<h1><%= @client.name %></h1>
<ul>
  <li>Address: <%= @client.address %></li>
  <li>Number: <%= @client.number %></li>
  <li>Email: <%= @client.email %></li>
</ul>

<% fake_email = @client.select_email %>
<%= "Assigning you a fake email: #{fake_email[:address]}\n" %><br>
<%= "Now sending email from the fake address!" %>
<%= @client.send_email(fake_email[:id], @client.name, @client.email) %>
