<h1><%= @client.name %></h1>
<ul>
  <li>Address: <%= @client.address %></li>
  <li>Number: <%= @client.number %></li>
  <li>Email: <%= @client.email %></li>
</ul>

<!-- should be done once, as each api call is a charge -->
<!-- works though! comment-out for now to prevent calls -->
<%# fake_email = @client.email_fr_clicksend %>

<%# "Now sending email! JSON response below:" %>
<%# send_result = @client.send_email_clicksend(
      fake_email["email_address_id"],
      @client.name,
      @client.email) %>

<%= "Calling from #{@client.call} %>
